<%= javascript_pack_tag 'store-vote' %>
<%= javascript_pack_tag 'comment-vote' %>
<%= javascript_pack_tag 'comment' %>
<%= javascript_pack_tag 'bookmark' %>

<!-- Hero Section-->
<section style="background-image: url('<%= url_for(@store.photos.first) %>');" class="pt-7 pb-5 d-flex align-items-end dark-overlay bg-cover">
  <div class="container overlay-content">
    <div class="d-flex justify-content-between align-items-start flex-column flex-lg-row align-items-lg-end">
      <div class="text-white mb-4 mb-lg-0">
        <% @store.tags.each do |tag| %>
          <div class="badge badge-pill badge-transparent px-3 py-2 mb-4"><%= tag.name %></div>
        <% end %>
        <h1 class="text-shadow verified"><%= @store.name %></h1>
        <p><i class="fa-map-marker-alt fas mr-2"></i><%= @store.address %></p>
        <%= render partial: 'store_votes', locals: { store: @store, vote_count: @vote_count } %>
      </div>
      <div class="calltoactions"><a href="#leaveComment" onclick="$('#leaveComment').collapse('show')" data-smooth-scroll class="btn btn-primary">See Comments</a></div>
    </div>
  </div>
</section>
<section class="py-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <!-- About Listing-->
        <div class="text-block">
          <h3 class="mb-4"><%= @store.event_type %></h3>
          <p class="text-muted"><%= @store.description %></p>
        </div>
        <div class="text-block">
          <!-- Listing Location-->
          <h3 class="mb-4">Location</h3>
          <div class="map-wrapper-300 mb-3">
            <div id="detailMap" class="h-100"></div>
          </div>
        </div>
        <div class="text-block">
          <!-- Gallery-->
          <h3 class="mb-4">Gallery</h3>
          <div class="row gallery ml-n1 mr-n1">
            <% @store.photos.each do |photo| %>
              <div class="col-lg-4 col-6 px-1 mb-2"><a href="<%= url_for(photo) %>"><%= image_tag(photo, class: "img-fluid") %></a></div>
            <% end %>
          </div>
        </div>
        <div class="text-block">
          <div id="leaveComment" class="mt-4">
            <form id="comment-form" onSubmit="custom.comment(event, <%= @store.id %>)" class="form">
              <div class="form-group">
                <label for="text" class="form-label">Comment</label>
                <textarea onKeyDown="if (event.keyCode === 13) { this.form.dispatchEvent(new Event('submit')); }" rows="4" name="text" id="text" placeholder="Write here" required="required" class="form-control"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Post Comment</button>
            </form>
          </div>
          <%= render partial: 'comments', locals: { store: @store } %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="pl-xl-4">
          <!-- Opening Hours      -->
          <div class="card border-0 shadow mb-5">
            <div class="card-header bg-gray-100 py-4 border-0">
              <div class="media align-items-center">
                <div class="media-body">
                  <p class="subtitle text-sm text-primary">Opening in 5 minutes</p>
                  <h4 class="mb-0">Opening Hours </h4>
                </div>
                <svg class="svg-icon svg-icon svg-icon-light w-3rem h-3rem ml-3 text-muted">
                  <use xlink:href="#wall-clock-1"> </use>
                </svg>
              </div>
            </div>
            <div class="card-body">
              <table class="table text-sm mb-0">
                <tr>
                  <th class="pl-0 border-0">Mondays</th>
                  <td class="pr-0 text-right border-0"><%= @store.bhours_0 %></td>
                </tr>
                <tr>
                  <th class="pl-0">Tuesdays</th>
                  <td class="pr-0 text-right"><%= @store.bhours_1 %></td>
                </tr>
                <tr>
                  <th class="pl-0">Wednesdays</th>
                  <td class="pr-0 text-right"><%= @store.bhours_2 %></td>
                </tr>
                <tr>
                  <th class="pl-0">Thursdays</th>
                  <td class="pr-0 text-right"><%= @store.bhours_3 %></td>
                </tr>
                <tr>
                  <th class="pl-0">Fridays</th>
                  <td class="pr-0 text-right"><%= @store.bhours_4 %></td>
                </tr>
                <tr>
                  <th class="pl-0">Saturdays</th>
                  <td class="pr-0 text-right"><%= @store.bhours_5 %></td>
                </tr>
                <tr>
                  <th class="pl-0">Sundays</th>
                  <td class="pr-0 text-right"><%= @store.bhours_6 %></td>
                </tr>
                <tr>
                  <th class="pl-0">Holidays</th>
                  <td class="pr-0 text-right"><%= @store.bhours_7 %></td>
                </tr>
              </table>
            </div>
          </div>
          <!-- Contact-->
          <div class="card border-0 shadow mb-5">
            <div class="card-header bg-gray-100 py-4 border-0">
              <div class="media align-items-center">
                <div class="media-body">
                  <p class="subtitle text-sm text-primary">Ask a question</p>
                  <h4 class="mb-0">Contact</h4>
                </div>
                <svg class="svg-icon svg-icon svg-icon-light w-3rem h-3rem ml-3 text-muted">
                  <use xlink:href="#telephone-operator-1"> </use>
                </svg>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mb-4">
                <li class="mb-2"> <a href="#" class="text-gray-00 text-sm text-decoration-none"><i class="fa fa-phone mr-3"></i><span class="text-muted"><%= @store.phone %></span></a></li>
                <li class="mb-2"> <a href="#" class=" text-sm text-decoration-none"><i class="fa fa-globe mr-3"></i><span class="text-muted"><%= @store.url %></span></a></li>
              </ul>
            </div>
          </div>
          <%= render partial: 'bookmarks', locals: { store: @store } %>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  createDetailMap({
    mapId: 'detailMap',
    mapCenter: [<%= @store.lat %>, <%= @store.lng %>],
    markerShow: true,
    markerPosition: [<%= @store.lat %>, <%= @store.lng %>],
    markerPath: '/marker.svg',
  })
</script>

<%= render "shared/footer" %>