<p>
  <a href=""
     onClick="custom.bookmark(event, <%= store.id %>)"
     class="<%= current_user && store.has_bookmarked?(current_user.id) ? "text-secondary" : "text-gray-00" %>">
    <i class="fa fa-heart"></i> <%= current_user && store.has_bookmarked?(current_user.id) ? t('.bookmark_saved') : t('.bookmark_this_listing') %>
  </a>
</p>
<span><%= store.bookmark_count %> <%= t('.people_bookmarked_this_listing') %> </span>