<section class="pt-6 bg-gray-100">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8">
        <p class="subtitle text-secondary">Hurry up, these stores are having their final sale!</p>
        <h2>Farewell sales!</h2>
      </div>
      <div class="col-md-4 d-lg-flex align-items-center justify-content-end"><a href="search.html" class="text-muted text-sm">See all deals<i class="fas fa-angle-double-right ml-2"></i></a></div>
    </div>
    <!-- Slider main container-->
    <div data-swiper="{&quot;slidesPerView&quot;:4,&quot;spaceBetween&quot;:20,&quot;loop&quot;:false,&quot;roundLengths&quot;:true,&quot;breakpoints&quot;:{&quot;1200&quot;:{&quot;slidesPerView&quot;:3},&quot;991&quot;:{&quot;slidesPerView&quot;:2},&quot;565&quot;:{&quot;slidesPerView&quot;:1}},&quot;pagination&quot;:{&quot;el&quot;:&quot;.swiper-pagination&quot;,&quot;clickable&quot;:true,&quot;dynamicBullets&quot;:true}}" class="swiper-container swiper-container-mx-negative swiper-init">
      <!-- Additional required wrapper-->
      <div class="swiper-wrapper pb-5">
        <!-- Slides-->
        <% @farewell_stores.each do |store| %>
          <div class="swiper-slide h-auto px-2">
            <div data-marker-id="<%= store.id.hash %>" class="w-100 h-100">
              <div class="card h-100 border-0 shadow">
                <div class="ribbon ribbon-secondary"><%= store.discount %>% Off Sale</div>
                <div class="card-img-top overflow-hidden gradient-overlay"><%= image_tag(store.photos.first, class: "img-fluid") %><a href="detail.html" class="tile-link"></a>
                <div class="card-img-overlay-bottom z-index-20 text-white text-m text-right"><%= store.vote_count %> points - <%= store.comment_count.to_s + " " + "comment".pluralize(store.comment_count) %></div>
                <div class="card-img-overlay-top text-right"><a href="javascript: void();" class="card-fav-icon position-relative z-index-40">
                  <svg class="svg-icon text-white"><use xlink:href="#heart-1"></use></svg></a>
                </div>
              </div>
              <div class="card-body d-flex align-items-center">
                <div class="w-100">
                  <h6 class="card-title"><a href="detail.html" class="text-decoration-none text-dark"><%= store.name %></a></h6>
                  <div class="d-flex card-subtitle mb-3">
                    <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fa-map-marker-alt fas mr-2"></i><%= store.address %></p>
                  </div>
                  <p class="card-text h6 text-primary"><%= distance_of_time_in_words_to_now(store.event_date) %> left!</p>
                </div>
              </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- If we need pagination-->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<section class="pb-6 bg-gray-100">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8">
        <p class="subtitle text-secondary">These deals just came in!</p>
        <h2>Grand opening sales</h2>
      </div>
      <div class="col-md-4 d-lg-flex align-items-center justify-content-end"><a href="search.html" class="text-muted text-sm">

          See all deals<i class="fas fa-angle-double-right ml-2"></i></a></div>
    </div>
    <!-- Slider main container-->
    <div data-swiper="{&quot;slidesPerView&quot;:4,&quot;spaceBetween&quot;:20,&quot;loop&quot;:false,&quot;roundLengths&quot;:true,&quot;breakpoints&quot;:{&quot;1200&quot;:{&quot;slidesPerView&quot;:3},&quot;991&quot;:{&quot;slidesPerView&quot;:2},&quot;565&quot;:{&quot;slidesPerView&quot;:1}},&quot;pagination&quot;:{&quot;el&quot;:&quot;.swiper-pagination&quot;,&quot;clickable&quot;:true,&quot;dynamicBullets&quot;:true}}" class="swiper-container swiper-container-mx-negative swiper-init">
      <!-- Additional required wrapper-->
      <div class="swiper-wrapper pb-5">
        <!-- Slides-->
        <% @grand_openings.each do |store| %>
          <div class="swiper-slide h-auto px-2">
            <div data-marker-id="<%= store.id.hash %>" class="w-100 h-100">
              <div class="card h-100 border-0 shadow">
                <div class="ribbon ribbon-primary"><%= store.discount %>% Off Sale</div>
                <div class="card-img-top overflow-hidden gradient-overlay"><%= image_tag(store.photos.first, class: "img-fluid") %><a href="detail.html" class="tile-link"></a>
                <div class="card-img-overlay-bottom z-index-20 text-white text-m text-right"><%= store.vote_count %> points - <%= store.comment_count.to_s + " " + "comment".pluralize(store.comment_count) %></div>
                <div class="card-img-overlay-top text-right"><a href="javascript: void();" class="card-fav-icon position-relative z-index-40">
                  <svg class="svg-icon text-white"><use xlink:href="#heart-1"></use></svg></a>
                </div>
              </div>
              <div class="card-body d-flex align-items-center">
                <div class="w-100">
                  <h6 class="card-title"><a href="detail.html" class="text-decoration-none text-dark"><%= store.name %></a></h6>
                  <div class="d-flex card-subtitle mb-3">
                    <p class="flex-grow-1 mb-0 text-muted text-sm"><i class="fa-map-marker-alt fas mr-2"></i><%= store.address %></p>
                  </div>
                  <p class="card-text h6 text-primary">Opened <%= distance_of_time_in_words_to_now(store.event_date) %> ago!</p>
                </div>
              </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- If we need pagination-->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<%= render "shared/footer" %>