<div style="height: 8px; top: 71px;" class="progress rounded-0">
  <div role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" class="progress-bar"></div>
</div>
<section class="py-5">
  <div class="container">
    <p class="subtitle text-primary"><%= t('.add_new_listing') %></p>
    <h1 class="h2 mb-5"> <%= t('.store_type') %> <span class="text-muted float-right"><%= t('.step_2') %></span>                </h1>
    <form action="/create-a-store" method="post" id="create-a-store-form">
      <input type="hidden" name="authenticity_token" value="token_value">
      <input name="_method" type="hidden" value="put" />
      <div class="row form-block">
          <div class="col-lg-4">
            <h4><%= t('.what_does_the_store_sell') %></h4>
            <p class="text-muted text-sm">His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table.</p>
          </div>
          <div class="col-lg-7 ml-auto">
            <div class="form-group">
              <label class="form-label"><%= t('.goods') %></label>
              <ul class="list-inline mb-0">
                <% Tag.all.each do |tag| %>
                  <li class="list-inline-item">
                    <div class="custom-control custom-checkbox">
                      <%= hidden_field_tag "store_params[tag_ids][]", nil %>
                      <input <%= store.tags.map(&:id).include?(tag.id) ? "checked" : "" %> type="checkbox" id="tag-id-<%= tag.id %>" name="store_params[tag_ids][]" value="<%= tag.id %>" class="custom-control-input">
                      <label for="tag-id-<%= tag.id %>" class="custom-control-label text-muted"><%= t("app-settings.goods_types.#{tag.name}") %></label>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <div class="row form-block">
          <div class="col-lg-4">
            <h4><%= t('.up_to_off') %></h4>
            <p class="text-muted text-sm">His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table.</p>
          </div>
          <div class="col-lg-7 ml-auto">
            <div class="col-lg-12">
              <label class="form-label"><%= t('.add_new_listing') %></label>
              <div class="d-flex align-items-center">
                <input type="text" class="js-range-slider" name="store_params[discount]" style="width: 100%;"
                  data-skin="round"
                  data-postfix="%"
                  data-step="5"
                  data-min="5"
                  data-max="95"
                  data-from="<%= store.discount ? store.discount : '30' %>"
                  data-grid="true" />
              </div>
            </div>
          </div>
        </div>
      <div class="row form-block">
        <div class="col-lg-4">
          <h4><%= t('.description') %></h4>
          <p class="text-muted text-sm"> Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
        </div>
        <div class="col-lg-7 ml-auto">
          <div class="form-group mb-5">
            <label for="description" class="form-label"><%= t('.help_shoppers') %></label>
            <textarea name="store_params[description]" id="description" rows="5" aria-describedby="descriptionHelp" class="form-control"><%= store.description %></textarea><small id="descriptionHelp" class="form-text text-muted mt-2"><%= t('.example') %></small>
          </div>
        </div>
      </div>
      <div class="row form-block flex-column flex-sm-row">
        <div class="col text-center text-sm-left"><button name="next_form_no" value="1" onClick="custom.updateStore(event)" href="create-a-store?step=1" class="btn btn-link text-muted"><i class="fa-chevron-left fa mr-2"></i><%= t('.back') %></button></div>
        <div class="col text-center text-sm-right"><button name="next_form_no" value="3" class="btn btn-primary px-3"><%= t('.next_step') %><i class="fa-chevron-right fa ml-2"></i></button></div>
      </div>
    </form>
  </div>
</section>

<!--Plugin CSS file with desired skin-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>

<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--Plugin JavaScript file-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>

<script>$(".js-range-slider").ionRangeSlider();</script>